*/target/
*/var/
.classpath
.project
.settings/
.idea
*.iml
*.swp
*.log
.DS_Store
*.jks
/api/nbproject/
/nsi-driver/nbproject/
/target/
compose/nsi-dds-east-config/cache/
compose/nsi-dds-west-config/cache/
