<configuration debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%thread] %-5level %logger{35} \(%line\) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>var/log/sense-rm/sense-n-rm.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>var/log/sense-rm/sense-n-rm.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

      <!-- keep 5 days worth of history capped at 1GB total size -->
      <maxHistory>5</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
      
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>150MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>

    </rollingPolicy>

    <encoder>
      <pattern>%date [%thread] %-5level %logger{35} \(%line\) - %msg%n</pattern>
    </encoder>
  </appender> 

  <root level="DEBUG">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
