<configuration debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%thread] %-5level %logger{35} \(%line\) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/sense-rm/log/sense-n-rm.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/sense-rm/log/sense-n-rm.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

      <!-- keep 5 days worth of history capped at 1GB total size -->
      <maxHistory>5</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{35} \(%line\) - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="ERROR" />
  <logger name="org.springframework.data" level="ERROR" />
  <logger name="org.springframework.web" level="ERROR" />
  <logger name="org.hibernate" level="ERROR" />
  <logger name="net.es.sense.rm" level="INFO" />

  <root level="INFO">
    <appender-ref ref="FILE" />
    <!-- <appender-ref ref="STDOUT" /> -->
  </root>
</configuration>
